.formulario h1 {
    color: black;
}

.btn-enviar {
    color: #6f9940;
    background: transparent;
    border: 2px solid #6f9940;
    border-radius: 6px;
    padding: 8px 25px;
}

.btn-enviar:hover {
    background-color: #6f9940;
    color:white;
}

.map-responsive{
    overflow:hidden;
    padding-bottom:80%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

