.header {
    /* background-color: #77C9D4; */
    /* background-color: #57bc90; */
    /* background-color: #A5a5af; */
    background-color: #015249;
    color: white;
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

@font-face {
    font-family: 'icomoon';
    src: url('../icomoon/fonts/icomoon.eot?8hn3wr');
    src: url('../icomoon/icomoon.eot?8hn3wr#iefix') format('embedded-opentype'), url('../icomoon/fonts/icomoon.ttf?8hn3wr') format('truetype'), url('../icomoon/fonts/icomoon.woff?8hn3wr') format('woff'), url('../icomoon/fonts/icomoon.svg?8hn3wr#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
    content: "\e9bd";
}

#mainNav {
    background-color: #015249;
}

#mainNav button {
    color: rgba(0, 0, 0, .5);
    border-color: rgba(0, 0, 0, .1);
    background-color: white;
}

#mainNav button span {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: normal;
    /*font-style: italic;*/
    margin: 0%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Fjalla One', serif;
}

h1 {
    font-size: 40px;
    line-height: 1.5em;
    letter-spacing: -0.2px;
    color: white;
    margin: 0;
    /*margin: 100px 150px 70px 30px;*/
    /*text-transform: uppercase;*/
    /*text-decoration: underline;*/
}

h1 strong {
    color: #026fff;
}

h2 {
    color: #026fff;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 40px;
}

p {
    text-align: justify;
}

.hero {
    height: 400px;
    /* background-image: url('../imagenes/hero.jpg'); */
    background-color: #015249;
    /* background-size: 500px 300px; */
    /* background-repeat: no-repeat;  */
    /* background-position-x: right;  */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hero-image {
    object-fit: cover;
}

.portfolio {
    background: #fafafa;
    padding: 20px;
}

.project {
    /*border-top: 10px solid red;
    border-right: 10px solid green;
    border-left: 10px solid orange;
    border-bottom: 10px solid pink;
    border-color: red;
    border-width: 15px;
    border-style: solid;*/
    border: 1px solid gray;
    border-radius: 10px;
    /*margin: 10px;*/
    margin-bottom: 15px;
    padding: 20px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.project-course {
    margin: 10px 0;
}

.project-date {
    margin: 10px 0;
}

.project-url {
    margin: 10px 0;
}

.project-description {
    font-size: 20px;
}

.project strong {
    font-family: 'Fjalla One', serif;
}

.project-title {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 10px;
}

.project-details {
    width: 50%;
}

.project-imageContainer {
    width: 50%;
}

.project-imageContainer img {
    max-width: 100%;
}

ol,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

figure {
    margin: 0;
}

.header a {
    color: white;
    text-decoration: none;
}

.menu {
    height: inherit;
}

.header ol {
    display: flex;
    height: inherit;
}

.header ol li {
    height: inherit;
}

.header a {
    display: flex;
    align-items: center;
    height: inherit;
    padding: 0 10px;
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
    /*flex-direction: row;*/
}

.box {
    width: 200px;
    height: 200px;
    border: 1px solid red;
    flex-shrink: 0;
}

#imgprincipal {
    width: 100%;
}

.contacto {
    color: white;
}

.footer {
    color: white;
    background-color: #1b2127;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer img {
    vertical-align: middle;
}

.footer a {
    color: white;
}

.footer-copyright p {
    text-align: center;
}

footer hr {
    margin-top: 0rem;
    margin-bottom: 0.5rem;
    border-top: 1px solid rgba(0, 0, 0, .2);
}

.event-list {
    display: flex;
    flex-wrap: wrap;
}

.event-list-title {
    margin: 20px;
}

.event {
    margin: 1%;
    width: 48%;
    flex-shrink: 0;
    border-radius: 10px;
    overflow: hidden;
    background: #f4fbff;
}

.event img {
    width: 480px;
    height: 200;
    object-fit: cover;
}

.event-detail {
    margin: 20px 40px;
    margin-top: -40px;
    background-color: white;
    position: relative;
    padding: 20px;
    text-align: center;
}

.event-description {
    text-align: left;
}

.event-url {
    color: #056fff;
    border: 1px solid #056fff;
    padding: 5px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.contact {
    background-color: #056fff;
    color: white;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer i {
    margin: 0 16px;
    font-size: 45pt;
    color: white;
}

.form-email input {
    border-color: gray;
    border-style: solid;
    border-radius: 5px;
    padding: 10px 20px 10px 25px;
    background-image: url('../imagenes/envelope.svg');
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
}

.form-email button {
    display: block;
    margin-top: 10px;
    background: transparent;
    color: white;
    padding: 10px 0;
    border-radius: 5px;
    width: 100px;
    margin-top: 10px;
}

.form-email h3 {
    font-family: 'Source Sans Pro', sans-serif;
}

.container {
    /* border: 1px solid red; */
    max-width: 1200px;
    /* width: 100%; */
    flex: 1;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
}

.burger-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgba(0, 0, 0, .8);
    display: none;
    line-height: 40px;
    text-align: center;
    position: absolute;
    position: fixed;
    z-index: 4;
    left: 5px;
    top: 5px;
    color: white;
    /* font-size: 50px; */
}