/* desktop first que empieces desde el Media Query mas grande */

@media screen and (max-width: 1024px) {
    .event-list-title {
        margin-left: 0;
    }
    .portfolio {
        padding: 0;
    }
    .container {
        padding: 0 1em;
    }
    .hero {
        height: auto;
        position: relative;
        overflow: hidden;
        padding: 2em;
    }
    .hero-image {
        position: absolute;
        z-index: 1;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
    }
    h1 {
        font-size: 2em;
        z-index: 2;
    }
}

@media screen and (min-width: 992px) {
    #pagIndex #formas li:nth-of-type(1) {
        left: calc(50% + var(--d) * -0.5) !important;
        top: calc(var(--h) * 0.1) !important;
    }
    #pagIndex #formas li:nth-of-type(2) {
        left: calc(50% + var(--d) * -2) !important;
        top: calc(var(--h) * 0.8) !important;
    }
    #pagIndex #formas li:nth-of-type(3) {
        left: calc(50% + var(--d) * -0.5) !important;
        top: calc(var(--h) * 1.5) !important;
        ;
    }
    #pagIndex #formas li:nth-of-type(4) {
        left: calc(50% + var(--d) * 1) !important;
        top: calc(var(--h) * 0.8);
    }
}

@media screen and (max-width: 991px) {}

@media screen and (max-width: 767px) {
    h2 {
        font-size: 1.2em;
        margin: .5em 0;
    }
    .burger-button {
        display: block;
    }
    .header {
        /* border: 10px solid green; */
        display: block;
        height: auto;
    }
    .header ol {
        display: initial;
    }
    .header ol li {
        height: 50px;
        text-align: center;
    }
    .header a {
        justify-content: center;
        height: 40px;
        font-size: 2em;
        text-decoration: underline;
        /* margin-bottom: 0.5em; */
    }
    .header .logo {
        text-align: center;
    }
    .menu {
        position: fixed;
        background: rgba(0, 0, 0, 0.7);
        z-index: 3;
        top: 0;
        left: -100vw;
        width: 100vw;
        /* height: 100vh; */
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .3s;
    }
    .menu.is-active {
        left: 0;
    }
    .project {
        display: block;
    }
    .project-imageContainer {
        width: auto;
        text-align: center;
    }
    .project-details {
        width: auto;
        /* font-size: 16px; */
    }
    .project-course,
    .project-date,
    .project-url {
        margin: .4em 0;
    }
    .project-title {
        font-size: 1.5em;
        margin-bottom: .3em;
    }
    .project-url {
        font-size: 1em;
    }
    .project-course {
        font-size: .7em;
    }
    .project-date {
        font-size: 1em;
    }
    .project-description {
        font-size: 1em;
    }
    .event {
        width: auto;
        flex-shrink: initial;
    }
    .event img {
        width: 100%
    }
    header nav a.navbar-brand {
        font-size: 3em;
    }
    .formas ul {
        width: 30vmin !important;
        height: 30vmin !important;
    }
    #pagPanel #formas li:nth-of-type(1) {
        left: calc(50% + var(--d) * -1.7);
        top: 0;
    }
    #pagPanel #formas li:nth-of-type(2) {
        left: calc(50% + var(--d) * -0.2);
        top: calc(var(--h) * 0.6);
    }
    #pagPanel #formas li:nth-of-type(3) {
        left: calc(50% + var(--d) * -1.7);
        top: calc(var(--h) * 1.8);
    }
    #pagPanel #formas li:nth-of-type(4) {
        left: calc(50% + var(--d) * -0.2);
        top: calc(var(--h) * 2.4);
    }
    #pagPanel #formas li:nth-of-type(5) {
        left: calc(50% + var(--d) * -1.7);
        top: calc(var(--h) * 3);
    }
    #pagPanel #formas li:nth-of-type(6) {
        left: calc(50% + var(--d) * -0.2);
        top: calc(var(--h) * 3.6);
    }
    #pagPanel #formas {
        min-height: 108vh;
    }
    #pagPanel #formas li {
        --h: calc(112% / 3);
    }
}

@media screen and (max-width: 575.98px) {
    #pagPanel #formas {
        min-height: 83vh;
    }
}

@media screen and (max-width: 425px) {
    h1 {
        font-size: 1.5sem;
    }
    .project-details {
        /* width: auto; */
        font-size: 14px;
    }
    .event-detail {
        margin: -2em .5em .5em;
        padding: 1em;
    }
    .contact {
        height: auto;
        padding: 1.5em 0;
        text-align: center;
        display: block;
    }
    .form-email button {
        margin: 1em auto;
    }
    .form-email h3 {
        margin-top: 0;
    }
    .footer {
        display: block;
        text-align: center;
        border: 1px solid transparent;
    }
    .social-link {
        width: 40px;
        height: 40px;
        background-size: 100%;
    }
    header nav a.navbar-brand {
        font-size: 1.8em;
    }
    .formas ul {
        width: 50vmin !important;
        height: 50vmin !important;
    }
    #pagPanel #formas li:nth-of-type(1) {
        left: calc(50% + var(--d) * -1.7);
        top: 0;
    }
    #pagPanel #formas li:nth-of-type(2) {
        left: calc(50% + var(--d) * -0.2);
        top: calc(var(--h) * 0.6);
    }
    #pagPanel #formas li:nth-of-type(3) {
        left: calc(50% + var(--d) * -1.7);
        top: calc(var(--h) * 1.8);
    }
    #pagPanel #formas li:nth-of-type(4) {
        left: calc(50% + var(--d) * -0.2);
        top: calc(var(--h) * 2.4);
    }
    #pagPanel #formas li:nth-of-type(5) {
        left: calc(50% + var(--d) * -1.7);
        top: calc(var(--h) * 3);
    }
    #pagPanel #formas li:nth-of-type(6) {
        left: calc(50% + var(--d) * -0.2);
        top: calc(var(--h) * 3.6);
    }
    #pagPanel #formas {
        min-height: 108vh;
    }
    #pagPanel #formas li {
        --h: calc(200% / 3);
    }
}

@media screen and (max-width: 375px) {
    header nav a.navbar-brand {
        font-size: 1.5em;
    }
    #pagPanel #formas {
        min-height: 98vh;
    }
}

@media screen and (max-width: 320px) {
    header nav a.navbar-brand {
        font-size: 1.4em;
    }
    #pagPanel #formas li:nth-of-type(1) {
        left: calc(50% + var(--d) * -1.7);
        top: 0;
    }
    #pagPanel #formas li:nth-of-type(2) {
        left: calc(50% + var(--d) * -0.2);
        top: calc(var(--h) * 0.6);
    }
    #pagPanel #formas li:nth-of-type(3) {
        left: calc(50% + var(--d) * -1.7);
        top: calc(var(--h) * 1.8);
    }
    #pagPanel #formas li:nth-of-type(4) {
        left: calc(50% + var(--d) * -0.2);
        top: calc(var(--h) * 2.4);
    }
    #pagPanel #formas li:nth-of-type(5) {
        left: calc(50% + var(--d) * -1.7);
        top: calc(var(--h) * 3);
    }
    #pagPanel #formas li:nth-of-type(6) {
        left: calc(50% + var(--d) * -0.2);
        top: calc(var(--h) * 3.6);
    }
    #pagPanel #formas {
        min-height: 85vh;
    }
    #pagPanel #formas li {
        --h: calc(200% / 3);
    }
}